{{>header}}
{{>navbar}}
<section class="container">
    <h3 class="text-center text-primary mt-5">All Customers</h3>
 <table class="table table-stripped">
            <thead>
            <th>Name</th>
            <th>Account Number</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {{#if show}}
            {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.id}}</td>
                
                <td>
                    <a href="/showuser/{{id}}" class="btn btn-primary mx-3">Show</a>
                </td>
            </tr>
            {{/each}}
            {{else}}
            <tr class="alert alert-danger"> 
             <td colspan="4" >
                 ni users here
             </td>
            </tr>
            {{/if}}              
        </tbody>
    </table>