{{>header}}
{{>navbar}}
<section class="container">
    <h3 class="text-center text-primary mt-5">Add User</h3>
 <table class="table table-stripped">
        <thead>
            <th>ID</th>
            <th>userId</th>
            <th>title</th>
        </thead>
        <tbody>
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.userId}}</td>
                <td>{{user.title}}</td>
                <tr>
         </tbody>
    </table>